body
{
background-image: url('images/greenwave3.png');
}
#wrapper
{
background-color:rgba(2,2,2,0.6);
width:66%;
height:1000px;
margin:0 auto;
margin-top:20px;
}
#header
{

background-color:rgba(192,192,192,0.3);
width:99%;
height:13%;
float:left;
margin-top:5px;
margin-left:6px;
}
#side
{
background-color:rgba(192,192,192,0.3);
width:19%;
height:85%;
float:left;
margin-top:5px;
margin-left:6px;
}
#main
{
background-color:rgba(192,192,192,0.3);
/*background-image:url('images/greenwave2.png');*/
background-size:100% 100%;
background-repeat: no-repeat;
transform: rotate(180deg);
width:79%;
height:73%;
float:right;
margin-top:5px;
margin-right:5px;
}
#sidetext
{
color:white;
text-align:center;
font-size:30px;
}
.slop
{
margin-top:40px;
margin-left:20px;

}
#logonav
{
width:11%;
position:relative;
float:left;
margin-top:5px;
z-index:2;

}
#logoext
{
width:89%;
position:relative;
top:5px;


}
#searchbar
{
margin-top:20px;
}
#advert
{
background-image:url(images/costs.jpg);
background-size:100% 85%;
background-repeat:no-repeat;
width:79%;
height:14%;
float:right;
margin-right:5px;
margin-top:5px;

}
#service1
{
float:left;
margin-left:15px;
margin-top:10px;
width:25%;
height:20%;
background-image:url(images/chem.jpg);
background-size:100% 100%;
background-repeat:no-repeat;
}
#services2
{
float:left;
margin-left:15px;
margin-top:10px;
width:25%;
height:20%;
background-image:url(images/chem.jpg);
background-size:100% 100%;
background-repeat:no-repeat;
}
#services3
{
float:left;
margin-left:15px;
margin-top:10px;
width:25%;
height:20%;
background-image:url(images/chem.jpg);
background-size:100% 100%;
background-repeat:no-repeat;
}
#ad
{
float:left;
margin-left:5px;
margin-top:5px;
width:99%;
height:49%;

}
#ad2
{
float:left;
margin-left:5px;
margin-top:10px;
width:48%;
height:49%;
}
#ad3
{
float:right;
margin-left:5px;
margin-top:5px;
width:48%;
height:49%;
}